body {
  background-image: url('http://static.webshopapp.com/shops/015426/files/009745427/piet-hein-eek-scrapwood-11-papier-wallpaper-blanc.jpg');
  background-size: cover;
  color: #140718;
font-family: 'Bubbler One', sans-serif;
}

header {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

ul {
  list-style-type: none;
}

li {
  padding: 8px;
}

li:hover {
  background-color:rgba(0, 0, 0, .05);
}

a {
  text-decoration: none;
}

.carte_de_visite {
  background: rgba(142, 142, 142, .05);
  width: 600px;
  margin: 0 auto;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-image: url('https://media3.giphy.com/media/cyyac9sTiN7ji/giphy.gif');
  background-size: cover;
  background-position: center;
}

.social {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.btn {
  border-radius: 50%;
  padding:10px;
  display: flex;
  justify-content: center;
  align-items:center;
  width: 15px;
  height: 15px;
  margin:5px;
  color:white;
  background-color:#b3b3b3;
  transition: .5s ease;
}

.btn:hover {
  transform: rotate(360deg);
}

.btn-facebook {
  background-color: #3b5998;
}

.btn-twitter {
  background-color: #00b2ff;
}

.btn-linkedin {
  background-color: #0077B5;
}

.btn-download {
	background-color:#e76464;
	position:fixed;
	bottom: 42px;
	right:42px;
	width:50px;
	height:50px;
	font-size:20pt;
	transition:none;
}
